body {
    font-family: monospace;
}

.account-sett-div,
.registration-sett-div,
.add-controller-sett-div{
    padding-top: 0px;
    padding-bottom: 30px;
    color: #707070;
    font-size: 14px;
}
.account-sett-div,
.registration-sett-div,
.add-controller-sett-div {
    padding-left: 45px !important;
    padding-right: 45px !important;
}

.account-sett-div h1,
.registration-sett-div h1,
.add-controller-sett-div h1 {
    font-size: 16px !important;
    margin-bottom: 16px;
}

.account-sett-div td,
.registration-sett-div td,
.add-controller-sett-div td {
    height: 45px;
    vertical-align: middle;
    color: #707070;
}
.account-sett-div input,
.registration-sett-div input,
.add-controller-sett-div input {
    width: 200px;
}

.account_label,
.registration_label,
.add-controller_label {
    min-width: 150px;
}

.dropdown_country,
.dropdown_city {
    width: 200px !important;
}

.password_label {
    margin-top: 8px;
    margin-bottom: 6px;
}
#password_reset_btn {
    margin-top: 16px;
}

#dropdown_language a {
    cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form-layout {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-layout input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-layout button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form-layout button:hover, .form-layout button:active, .form-layout button:focus {
    background: #43A047;
}

.form-layout .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form-layout .message a {
    color: #4CAF50;
    text-decoration: none;
}

div.menu-buttons {
    font-family: monospace;
    margin: 0 auto;
    padding: 2em 2em;
    text-align: center;
}

div.menu-buttons a {
    color: #000;
    text-decoration: none;
    font-family: monospace;
    font-size: 16px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.nav-active {
    font-weight: bold;
}

.nav-active:before {
    opacity: 1 !important;
    content: '[';
    margin-left: -10px;
}

.nav-active:after {
    opacity: 1 !important;
    content: ']';
    margin-right: -10px;
}

div.brackets a:before, div.brackets a:after {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    top: 6px;
    transition: all 0.3s;
}

div.brackets a:before {
    content: '[';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:after {
    content: ']';
    right: 0px;
    transform: translateX(-10px);
}

div.brackets a:hover:before, div.brackets a:hover:after {
    opacity: 1;
    transform: translateX(0px);
}