{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="container">
        <div id="row">
            <div class="col-md-6 add-controller-sett-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="add-controller_label">Create/Update</td>
                        <td class="add-controller_input">
                            <select class="form-control dropdown-controllers">
                                <option value="-1">Create New Controller</option>
                                {% for controller in controllers %}
                                    <option value="{{ controller.controller_id }}">
                                        {{ controller.serial_no }} {{ controller.name }} [{{ controller.controller_id }}]</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="add-controller_label">Serial no.*</td>
                        <td class="add-controller_input">
                            <input type="number" class="form-control" name="serial-no">
                        </td>
                    </tr>
                    <tr>
                        <td class="add-controller_label">Controller's name*</td>
                        <td class="add-controller_input">
                            <input type="text" class="form-control" name="controller-name">
                        </td>
                    </tr>
                    <tr>
                        <td class="add-controller_label">Country*</td>
                        <td class="add-controller_input">
                            <select class="form-control dropdown-country">
                                <option value="-1" selected="true" disabled="disabled">Select a Country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}">
                                        {{ country.name }} [{{ country.id }}]
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr id="add-controller_city">
                        <td class="add-controller_label">City*</td>
                        <td class="add-controller_input">
                            <select class="form-control dropdown-city">
                                <option value="-1" selected="true" disabled="disabled">Select a City</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <button class="btn btn-info" id="add-controller-btn" type="submit" name="add-controller">Register</button>
                <button class="btn btn-danger" id="delete_controller_btn" type="submit" name="delete_user"
                        style="display: none;">Delete
                </button>

            </div>
            <div class="col-md-6 account-sett-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="add-controller_label">Status</td>
                        <td class="add-controller_input">
                            <select class="form-control dropdown-status">
                                <option value="1">On [1]</option>
                                <option value="0">Off [0]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="add-controller_label">Auth Wildcard</td>
                        <td class="add-controller_input">
                            <select class="form-control dropdown-auth-wildcard">
                                <option value="0">Auth Communication [0]</option>
                                <option value="1">No Auth [1]</option>
                                <option value="2">Generate Token [2]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="add-controller_label">Resque</td>
                        <td class="add-controller_input">
                            <select class="form-control dropdown-resque">
                                <option value="0">Off [0]</option>
                                <option value="1">On [1]</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block customscripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(".dropdown-country").change(function () {
            var country_id = $(this).val();
            if (country_id != -1) {
                getCityIds(country_id)
            }
        });

        $(".dropdown-controllers").change(function () {
            var controller_id = $(this).val();
            if (controller_id == -1) {
                location.reload()
            } else {
                getControllerData(controller_id)
            }
        });

        $("#delete_controller_btn").click(function () {
            var controller_id = $('.dropdown-controllers').val();
            deleteController(controller_id);
        });

        $("input[name='serial-no']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='controller-name']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $(".dropdown-country").on("click", function () {
            if ($(this).val() == null) {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $(".dropdown-city").on("click", function () {
            if ($(this).val() == null) {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("#add-controller-btn").click(function () {
            if (validateControllerForm()) {
                registerController();
            }
        });

        function validateControllerForm() {

            var s_check = true, c_check = true, co_check = true, ci_check = true;
            var $s = $("input[name='serial-no']");
            var $c = $("input[name='controller-name']");
            var $co = $(".dropdown-country");
            var $ci = $(".dropdown-city");

            if ($s.val().length === 0) {
                s_check = false;
                $s.css('border-color', 'red');
            }

            if ($c.val().length === 0) {
                c_check = false;
                $c.css('border-color', 'red');
            }

            if ($co.val() == null) {
                co_check = false;
                $co.css('border-color', 'red');
            }

            if ($ci.val() == null) {
                ci_check = false;
                $ci.css('border-color', 'red');
            }

            return s_check && c_check && co_check && ci_check
        }

        function getControllerData(controller_id) {
            var csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '{% url 'accounts:controllers' %}',
                type: 'POST',
                data: {
                    get_controller_data: controller_id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {
                },
                success: function (data) {
                    console.log(data);
                    $('#add-controller-btn').text("Update");
                    $('#delete_controller_btn').show();
                    $("input[name='serial-no']").val(data['serial_no']);
                    $("input[name='controller-name']").val(data['controller_name']);
                    $('.dropdown-country option[value="' + data['country_id'] + '"]').prop('selected', true);
                    $('.dropdown-status').val(data['status']);
                    $('.dropdown-resque').val(data['resque']);
                    $('.dropdown-auth-wildcard').val(data['auth_wildcard']);
                    var country_id = $('.dropdown-country').val();
                    getCityIds(country_id);
                    setTimeout(function () {
                        $('.dropdown-city option[value="' + data['city_id'] + '"]').prop('selected', true);
                    }, 100);
                }
            });
        }

        function registerController() {
            var csrftoken = getCookie('csrftoken');
            var object = {};

            object['serial_no'] = $("input[name='serial-no']").val();
            object['name'] = $("input[name='controller-name']").val();
            object['country_id'] = $(".dropdown-country").val();
            object['city_id'] = $(".dropdown-city").val();
            object['status'] = $(".dropdown-status").val();
            object['auth_wildcard'] = $(".dropdown-auth-wildcard").val();
            object['resque'] = $(".dropdown-resque").val();


            $.ajax({
                url: '{% url 'accounts:controllers' %}',
                type: 'POST',
                data: {
                    registration: JSON.stringify(object),
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {

                },
                success: function (data) {
                    location.reload()

                }
            });
        }

        function getCityIds(country_id) {
            var csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '{% url 'accounts:controllers' %}',
                type: 'POST',
                data: {
                    country_id: country_id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {

                },
                success: function (data) {
                    var cities = data['cities'];
                    $('.dropdown-city').empty();

                    for (var i = 0; i < cities.length; i++) {
                        $('.dropdown-city').append($('<option>', {
                            value: cities[i]["id"],
                            text: cities[i]["name"] + " [" + cities[i]["id"] +"]"
                        }));

                    }
                }
            });
        }

        function deleteController(controller_id) {
            var csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '{% url 'accounts:controllers' %}',
                type: 'POST',
                data: {
                    delete_controller_id: controller_id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                success: function (data) {
                    location.reload()
                }
            });
        }

    </script>

{% endblock %}