{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

</head>
<body>

    <div class="container">
        <div id="row">
            <div class="login-page">
                <div class="form-layout">
                    <form method="post" class="login-form">{% csrf_token %}
                        <input type="text" placeholder="username" name="username">
                        <input type="password" placeholder="password" name="password">
                        <button>login</button>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/jquery-latest.js' %}"></script>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

</body>





