{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="row">
            <div class="col-md-6 registration-sett-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="registration_label">Create/Update</td>
                        <td class="registration_input">
                            <select class="form-control dropdown-user">
                                <option value="-1">Create New User</option>
                                {% for user in users %}
                                    <option value="{{ user.user_id }}">
                                        {{ user.name }} {{ user.last_name }} [{{ user.user_id }}]</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr id="registration_username">
                        <td class="registration_label">Username*</td>
                        <td class="registration_input">
                            <input class="form-control" type="text" name="reg_username">
                        </td>
                    </tr>
                    <tr>
                        <td class="password_label password_label_1">Password*</td>
                        <td class="password_reset_form_row">
                            <input type="password" class="form-control" name="password1" required>
                            <small><span class="password1_msg"></span></small>
                        </td>
                    </tr>
                    <tr>
                        <td class="password_label password_label_2">Password (again)*</td>
                        <td class="password_reset_form_row">
                            <input type="password" class="form-control" name="password2" required>
                            <small><span class="password2_msg"></span></small>
                        </td>
                    </tr>
                    <tr id="registration_name">
                        <td class="registration_label">First name*</td>
                        <td class="registration_input">
                            <input type="text" class="form-control" name="reg_name"/>
                        </td>
                    </tr>
                    <tr id="registration_lastname">
                        <td class="registration_label">Last name*</td>
                        <td class="registration_input">
                            <input type="text" class="form-control" name="reg_lastname"/>
                        </td>
                    </tr>
                    <tr id="registration_country">
                        <td class="registration_label">Country*</td>
                        <td class="registration_input">
                            <select class="form-control dropdown_country">
                                <option value="-1" selected="true" disabled="disabled">Select a Country</option>
                                <option value="84">Germany [84]</option>
                                <option value="204">Slovenia [204]</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="registration_email">
                        <td class="registration_label">Email*</td>
                        <td class="registration_input">
                            <input type="text" class="form-control" name="reg_email">
                        </td>
                    </tr>
                    <tr id="registration_zip">
                        <td class="registration_label">Zip*</td>
                        <td class="registration_input">
                            <input type="text" class="form-control" name="reg_zip">
                        </td>
                    </tr>
                    <tr id="registration_city">
                        <td class="registration_label">City*</td>
                        <td class="registration_input">
                            <input type="text" class="form-control" name="reg_city">
                        </td>
                    </tr>
                    <tr id="registration_lang">
                        <td class="registration_label">Language*</td>
                        <td class="registration_input_dropdown dropdown">
                            <div class="dropdown_language" id="dropdown_language" style="margin-left: 8px;">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="current_language"> EN</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li lang_id="EN"><a>EN</a></li>
                                    <li lang_id="D"><a>D</a></li>
                                    <li lang_id="SI"><a>SI</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" id="register_btn" type="submit" name="register">Register</button>
                <button class="btn btn-danger" id="delete_user_btn" type="submit" name="delete_user"
                        style="display: none;">Delete
                </button>
            </div>
            <div class="col-md-6 account-sett-div">
                <table>
                    <tbody>
                    <tr>
                        <td class="registration_label">Controllers</td>
                        <td class="registration_input" style="width:100%;">
                            <select class="form-control dropdown-add-controllers" multiple="multiple">
                                {% for controller in controllers %}
                                    <option value="{{ controller.pk }}">{{ controller.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="registration_label">Role</td>
                        <td class="registration_input" style="width: 100%;">
                            <select class="form-control dropdown-add-role">
                                {% for role in roles %}
                                    <option value="{{ role.role_id }}">{{ role.role_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block customscripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        jQuery(function () {
            $(".dropdown-add-controllers").select2();
        });

        $(".dropdown-user").change(function () {
            user_id = $(this).val();
            if (user_id == -1) {
                location.reload()
            } else {
                getUserData(user_id)
            }
        });

        $('#dropdown_language li').click(function () {
            var lang = $(this).attr("lang_id");
            $(this).closest("#dropdown_language").find(".current_language").text(lang)
        });

        $("input[name='password1']").on("input", function () {
            validatePassword();
        });

        $("input[name='password1']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='password2']").on("input", function () {
            validatePassword();
        });

        $("input[name='password2']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='reg_username']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='reg_name']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='reg_lastname']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $(".dropdown_country").on("click", function () {
            if ($(this).val() == null) {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='reg_city']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='reg_email']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("input[name='reg_zip']").on("click", function () {
            if ($(this).val() == "") {
                $(this).css('border-color', 'rgb(128, 183, 225)');
            }
        });

        $("#register_btn").click(function () {
            if (validateRegistrationForm() && validatePassword()) {
                registerUser();
            }
        });

        $("#delete_user_btn").click(function () {
            deleteUser();
        });

        function validatePassword() {

            var ok1 = false, ok2 = false;
            var $p1 = $("input[name='password1']");
            var $p2 = $("input[name='password2']");
            var $msg1 = $(".password1_msg");
            var $msg2 = $(".password2_msg");
            var pass1 = $p1.val();
            var pass2 = $p2.val();

            if (pass1.length === 0) {
                $msg1.html("");
            } else if (pass1.length < 5) {
                $msg1.html("Minimum 5 characters");
            } else {

                if (passwordRegexTest(pass1)) {
                    $msg1.html("");
                    ok1 = true;
                } else {
                    $msg1.html("Invalid characters");
                }
            }

            if (pass2.length === 0) {
                $msg2.html("");
            } else {
                if (pass1 !== pass2) {
                    $msg2.html("Password does not match!");
                } else {
                    $msg2.html("");
                    ok2 = true;
                }
            }
            return ok1 && ok2;
        }

        function passwordRegexTest(pass) {
            var regularExpression = (/^[a-zA-Z0-9!@#$%^&*.,;:]{5,}$/);

            if (regularExpression.test(pass)) {
                return true;
            }

            return false;
        }

        function validateRegistrationForm() {

            var u_check = true, p1_check = true, p2_check = true, n_check = true, l_check = true, co_check = true, ci_check = true, e_check = true, z_check = true;
            var $u = $("input[name='reg_username']");
            var $p1 = $("input[name='password1']");
            var $p2 = $("input[name='password2']");
            var $n = $("input[name='reg_name']");
            var $l = $("input[name='reg_lastname']");
            var $co = $(".dropdown_country");
            var $ci = $("input[name='reg_city']");
            var $e = $("input[name='reg_email']");
            var $z = $("input[name='reg_zip']");

            if ($u.val().length === 0) {
                u_check = false;
                $u.css('border-color', 'red');
            }

            if ($p1.val().length === 0) {
                p1_check = false;
                $p1.css('border-color', 'red');
            }

            if ($p2.val().length === 0) {
                p2_check = false;
                $p2.css('border-color', 'red');
            }

            if ($n.val().length === 0) {
                n_check = false;
                $n.css('border-color', 'red');
            }

            if ($l.val().length === 0) {
                l_check = false;
                $l.css('border-color', 'red');
            }

            if ($co.val() == null) {
                co_check = false;
                $co.css('border-color', 'red');
            }

            if ($ci.val().length === 0) {
                ci_check = false;
                $ci.css('border-color', 'red');
            }

            if ($e.val().length === 0) {
                e_check = false;
                $e.css('border-color', 'red');
            }

            if ($z.val().length === 0) {
                z_check = false;
                $z.css('border-color', 'red');
            }

            return u_check && p1_check && p2_check && n_check && l_check && co_check && ci_check && e_check && z_check
        }

        function getUserData(user_id) {
            var csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '{% url 'accounts:registration' %}',
                type: 'POST',
                data: {
                    get_user_data: user_id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {

                },
                success: function (data) {
                    console.log(data);
                    $('#register_btn').text("Update");
                    $('#delete_user_btn').show();
                    $("input[name='reg_username']").val(data['username']);
                    $("input[name='reg_name']").val(data['name']);
                    $("input[name='reg_lastname']").val(data['last_name']);
                    $('.dropdown_country option[value="' + data['country_id'] + '"]').prop('selected', true);
                    $("input[name='reg_email']").val(data['email']);
                    $("input[name='reg_zip']").val(data['zip']);
                    $("input[name='reg_city']").val(data['city']);
                    $(".dropdown-add-controllers").val(data['controllers']).trigger('change');
                    $('.dropdown-add-role').val(data['role']);
                }
            });
        }

        function registerUser() {
            var csrftoken = getCookie('csrftoken');
            var object = {};
            var controllers = [];

            $(".dropdown-add-controllers :selected").each(function () {
                controllers.push($(this).val());
            });

            object['username'] = $("input[name='reg_username']").val();
            object['password'] = $("input[name='password1']").val();
            object['name'] = $("input[name='reg_name']").val();
            object['last_name'] = $("input[name='reg_lastname']").val();
            object['country_id'] = $(".dropdown_country").val();
            object['email'] = $("input[name='reg_email']").val();
            object['state'] = $(".dropdown_country").find('option:selected').text();
            object['zip'] = $("input[name='reg_zip']").val();
            object['city'] = $("input[name='reg_city']").val();
            object['language'] = $('.current_language').text();
            object['controllers'] = controllers;
            object['role'] = $('.dropdown-add-role').val();

            $.ajax({
                url: '{% url 'accounts:registration' %}',
                type: 'POST',
                data: {
                    registration: JSON.stringify(object),
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {

                },
                success: function (data) {
                    location.reload()

                }
            });
        }

        function deleteUser() {
            var csrftoken = getCookie('csrftoken');
            var user_id = $('.dropdown-user').val();

            $.ajax({
                url: '{% url 'accounts:registration' %}',
                type: 'POST',
                data: {
                    delete_user_id: user_id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                complete: function (data) {

                },
                success: function (data) {
                    location.reload()
                }
            });
        }

    </script>
{% endblock %}