{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    {% block head %}

    {% endblock head %}

</head>
<body>

<section>
    <header class="text-center">
        <div class="menu-buttons brackets">
            <a href="{% url 'accounts:registration' %}" class="{% if request.path == '/registration/' %}nav-active{% endif %}">Registration</a>
            <a href="{% url 'accounts:controllers' %}" class="{% if request.path == '/controllers/' %}nav-active{% endif %}">Controllers</a>
        </div>
    </header>
</section>

{% block content %}

{% endblock content %}

    <script src="{% static '/js/jquery-latest.js' %}"></script>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

{% block customscripts %}

{% endblock customscripts %}

</body>